#map {
  width: 100%;
  height: 100vh;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

/* styles pour les divIcon markers */
.custom-marker {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.custom-marker.pickup-marker {
  background: #10b981;
} /* vert */
.custom-marker.dropoff-marker {
  background: #ef4444;
} /* rouge */
