<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="firstName">Prénom</label>
    <input
      id="firstName"
      type="text"
      formControlName="firstName"
      class="border border-blue-300"
      placeholder="Entrez votre prénom"
    />
    @if (form.get('firstName')?.invalid && form.get('firstName')?.touched) {
    <p class="error">Prénom requis</p>
    }
  </div>

  <div>
    <label for="lastName">Nom</label>
    <input
      id="lastName"
      type="text"
      formControlName="lastName"
      class="border border-blue-300"
      placeholder="Entrez votre nom"
    />
    @if (form.get('lastName')?.invalid && form.get('lastName')?.touched) {
    <p class="error">Nom requis</p>
    }
  </div>

  <div>
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      class="border border-blue-300"
      placeholder="Entrez votre email"
    />
    @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <p class="error">Email invalide</p>
    }
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      (input)="updateStrength()"
      class="border border-blue-300"
      placeholder="Entrez votre mot de passe"
    />
    <div class="password-strength" [ngClass]="'strength-' + passwordStrength">
      <div class="strength-bar"></div>
    </div>
    @if (form.get('password')?.hasError('weakPassword')) {
    <p class="error">
      Le mot de passe doit contenir au moins 3 types de caractères (majuscule, minuscule, chiffre,
      symbole).
    </p>
    } @if (form.hasError('mismatch')) {
    <p class="error">Les mots de passe ne correspondent pas</p>

    }
  </div>

  <div>
    <label for="confirm">Confirmer mot de passe</label>
    <input id="confirm" type="password" formControlName="confirm" class="border border-blue-300" />
  </div>

  <div class="checkbox-group">
    <input
      type="checkbox"
      id="cgu"
      formControlName="cgu"
      placeholder="Confirmez votre mot de passe"
    />
    <label for="cgu">J’accepte les CGU</label>
  </div>

  <div class="checkbox-group">
    <input type="checkbox" id="marketing" formControlName="marketing" />
    <label for="marketing">Recevoir des offres marketing</label>
  </div>

  <button type="submit">Créer un compte</button>
</form>
