<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Prénom</label>
    <input
      id="firstName"
      type="text"
      formControlName="firstName"
      class="border border-blue-300"
      placeholder="Entrez votre prénom"
    />
    @if (form.get('firstName')?.invalid && form.get('firstName')?.touched) {
    <p class="error">Prénom requis</p>
    }
  </div>

  <div>
    <label for="lastName">Nom</label>
    <input
      id="lastName"
      type="text"
      formControlName="lastName"
      class="border border-blue-300"
      placeholder="Entrez votre nom"
    />
    @if (form.get('lastName')?.invalid && form.get('lastName')?.touched) {
    <p class="error">Nom requis</p>
    }
  </div>
  <div>
    <label for="parcours">Parcours</label>
    <input
      #p1
      id="parcours"
      type="radio"
      name="parcours"
      value="telephotp"
      (change)="displayFormFields()"
      class="mt-3"
      [checked]="displayPhoneFields"
    />
    <span> Par téléphone</span>
    <input
      type="radio"
      name="parcours"
      value="emailmdp"
      (change)="displayFormFields()"
      class="ms-5"
    />
    <span> Par email</span>
  </div>
  @if (displayPhoneFields) {
  <app-phone-field formControlName="phone" />

  <button
    type="submit"
    class="px-4 py-2 bg-blue-500 text-white rounded disabled:opacity-50 disabled:cursor-not-allowed"
    [disabled]="!isPhoneValid"
  >
    S'inscrire
  </button>

  @if(isBlocked()){
  <!-- Blocage après 3 OTP erronés -->
  <div class="mt-4 text-red-600 font-semibold">
    Champ bloqué. Réessayer dans {{ getBlockedSeconds() }} secondes.
  </div>
  } @if (showOtp && !isBlocked()) {
  <!-- Affichage conditionnel du champ OTP -->
  <div class="mt-6">
    <h2 class="text-lg font-semibold mb-2">Entrez le code OTP : (1 2 3 4 5 6)</h2>
    <app-otp-input (complete)="onOtpComplete($event)"></app-otp-input>
    @if (showOtp && remaining > 0) {
    <p class="text-sm text-gray-600">Renvoyer OTP dans {{ remaining }} secondes</p>
    }

    <!-- Bouton pour renvoyer OTP -->
    <button
      class="mt-5 px-4 py-2 bg-gray-300 text-gray-700 rounded disabled:opacity-50"
      [disabled]="!resendEnabled"
      (click)="resendOtp()"
    >
      Renvoyer le code
    </button>
  </div>
  } } @if (!displayPhoneFields) {
  <div>
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      class="border border-blue-300"
      placeholder="Entrez votre email"
    />
    @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <p class="error">Email invalide</p>
    }
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      (input)="updateStrength()"
      class="border border-blue-300"
      placeholder="Entrez votre mot de passe"
    />
    <div class="password-strength" [ngClass]="'strength-' + passwordStrength">
      <div class="strength-bar"></div>
    </div>
    @if (form.get('password')?.hasError('weakPassword')) {
    <p class="error">
      Le mot de passe doit contenir au moins 3 types de caractères (majuscule, minuscule, chiffre,
      symbole).
    </p>
    } @if (form.hasError('mismatch')) {
    <p class="error">Les mots de passe ne correspondent pas</p>

    }
  </div>

  <div>
    <label for="confirm">Confirmer mot de passe</label>
    <input id="confirm" type="password" formControlName="confirm" class="border border-blue-300" />
  </div>

  <div class="checkbox-group">
    <input
      type="checkbox"
      id="cgu"
      formControlName="cgu"
      placeholder="Confirmez votre mot de passe"
    />
    <label for="cgu">J’accepte les CGU</label>
  </div>

  <div class="checkbox-group">
    <input type="checkbox" id="marketing" formControlName="marketing" />
    <label for="marketing">Recevoir des offres marketing</label>
  </div>

  <button type="submit">S'inscrire</button>

  }
</form>
